body {
    background-color: hsl(212, 45%, 89%);
}
.box{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    height: 100vh;

}
.inbox {
    display: flex;
    padding: 10px;
    max-width: 350px;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    text-align: center;
}
img  {
    width: 100%;
    border-radius: 5px;
    }
p {
    font-weight: 100;
    font-size: medium;
}